/* Enjoy !*/

/********************************************* 
 ** Règle générale : ensemble de la page    **
 **  - titre des section 					**
 **  - taille de police						**
 **  - background de la page				**
 *********************************************/
body{
	font-size: 12pt; /* 1em */
	background-color:  #FAFAFA;
}

.section-title{
	text-align: center;
 	background-color: #4A6A8A;
 	color: white;
 	height: 50px;
 	line-height: 1.5;
 	font-size: 24pt; /* 2em */
 }

/********************************************* 
 ** En tête de la page : Titre + Photo +    **
 ** phrases d'accroche + menu de navigation **
 *********************************************/
header{
	
	text-align: center;
	color: #123251;
	/*background-image:url(../images/fond-header_1.png);*/
	background-color: rgba(0,0,0,0.3);
}
h1{
	width: 500px;
	margin: auto;
	font-size: 32pt; /* 2.7em*/
}
header p {
	padding-bottom: 1%;
	color : white;
}
nav ul{
	display: flex;
	justify-content: center;
	line-height: 3;
	height: 50px;
	list-style: none;
	background-color: #4A6A8A;
	color: white;
}

nav a{
	display: block;
	width: 150px;
	color: white;

}

nav li a:hover, nav li a:focus, nav li a:active {
	color: #4A6A8A;
	border: 5px solid #123251;
	text-decoration-line: none;
	background-color: white;
	margin-top: -5px;
	height: 60px;
	font-weight: bold;
}

.header-accroche{
	margin: auto;
	width: 500px;
}
.photo{
	margin-top: 2%;
	margin-left: 10%;
	float: left;
	width: 120px;
	height: 120px;
	border: 5px solid #4A6A8A;
	border-radius: 50%;
 	position: left;
}

/********************************************* 
 ** Section A Propos : Titre + paragraphes  **
 *********************************************/
 .section-a-propos{
 	text-align: center;
 }

 .section-a-propos p{
 	display: block;
 	margin: auto;
 	padding-top: 2%;
 	width: 900px;
 	text-align: justify;
  }

/********************************************* 
 ** Section Compétence : Titre + paragraphe **
 **                      + listes           **
 *********************************************/
 .section-competences_content1, .section-competences_content2{
 	margin: auto;
 	padding-bottom: 3.5%;
 	width: 900px;
 	display: flex;
 	justify-content: space-between;
 }
.section-competences_content1 h3, .section-competences_content2 h3{
	background-color: #4A6A8A;
	color: white;
	text-align: center;
}
 .competence-front, .competence-back, .competence-gestion, .competence-reseaux{
 	border: 2px solid #4A6A8A;
 	width: 425px;
 	height: 300px;
 }

 .competence-front ul li, .competence-back ul li, .competence-gestion ul li, .competence-reseaux ul li{
 	list-style: none;
 }

 /********************************************* 
 ** Section Expérience : Titre + paragraphe  **
 ** Section Formation  : + listes            **
 **********************************************/
.section-expriences_content{
	width: 900px;
	margin: auto;
}

.section-expriences_content1{
	margin-bottom: 20px;
}
.section-experiences_entreprise{
	width: 250px;
	height: 30px;
	border: 2px solid #4A6A8A;
	line-height: 2;
	text-align: center;
	background-color: #4A6A8A;
	color: white;	
}
.section-experiences_date1{
	float: left;
}
.section-experiences_date{
	display: flex;
}

.section-experiences_date2{
	margin-top: 10px;
	margin-left: 20px;
	text-align: justify;
}
.section-experiences_date1 p{
	margin-top: 10px;
	width: 100px;
	height: 30px;
	line-height: 2;
	text-align: center;
	background-color: #4A6A8A;
	color: white;	
}

.section-experiences_date1 img{
	height: 100px;
	width: 100px;
	border: 1px solid;
}

.section-experiences_techno{
	display: flex;
	height: 30px;
	width: 900px;
	background-color: #4A6A8A;
	color: white;
}

 /**************************************************** 
  ** Section Centre d'intérêt : image + description **
  ****************************************************/
.section-interet_content-image{
	width: 900px;
	margin: auto;
	display: flex;
	justify-content: space-around;
}
.section-interet_content-descript{
	width: 900px;
	margin: auto;
	display: flex;
	justify-content: space-around;
}
.section-interet img{
	height: 100px;
	width: 100px;
	border: 2px solid #4A6A8A;
	border-radius: 50%;
}

 /**************************************************** 
  ** Section Contact : formulaire + images          **
  ****************************************************/
.section-contact_content{
	display: flex;
	justify-content: space-around;
}

.section-contact_resaux img{
	height: 50px;
	width: 50px;
	border: 2px solid #4A6A8A;
	border-radius: 50%;
}

/*Formulaire de contact*/
form {
    margin: 0 auto;
    /*width: 400px;*/
    padding: 1em;
    border-radius: 1em;
}

form div + div {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
    background-color: #efefef;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: 0.5em;
}